body,html
{margin-bottom:0px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
background-color:black;}

#searchbar{
height:50px;
width:100%;
background-color:white;}

#test{
 margin-top:100px;
 height:50px
   width:100%;}
